<div class="container">
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <div>
      <label>Firstname</label><br>
      <input name="name" formControlName="firstName" />

      @if(myForm.controls["firstName"].invalid && myForm.controls["firstName"].touched){
      <div class="alert">Не указано имя</div>
      }
    </div>
    <div>
      <label>Lastname</label><br>
      <input name="name" formControlName="lastName" />

      @if(myForm.controls["lastName"].invalid && myForm.controls["lastName"].touched){
      <div class="alert">Не указано имя</div>
      }
    </div>
    <div>
      <label>Surname</label><br>
      <input name="name" formControlName="surName" />

      @if(myForm.controls["surName"].invalid && myForm.controls["surName"].touched){
      <div class="alert">Не указано имя</div>
      }
    </div>
    <button [disabled]="myForm.invalid">Отправить </button>
  </form>
</div>
