<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Клієнт</th>
      <th scope="col">Філіал</th>
      <th scope="col">Послуга</th>
      <th scope="col">Сумма($)</th>
      <th scope="col">Дата отримання</th>
      <th scope="col">Дата видачи</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.customer.lastName + ' ' + order.customer.firstName + ' ' + order.customer.surName }}</td>
      <td>{{ order.filial.name + ', ' + order.filial.location }}</td>
      <td>{{ order.service.name }}</td>
      <td>{{ order.sum.toFixed(2) }}</td>
      <td>{{ order.receiveDate }}</td>
      <td>{{ order.returnDate }}</td>
    </tr>
  </tbody>
</table>
