<div class="row justify-content-center">
  <div class="col-4">
    <div class="card mb-2 mt-2">
      <div class="card-header">
        Нове замовлення
      </div>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="serviceId">Вибрати послугу:</label>
            <select class="form-control" id="serviceId" aria-describedby="serviceId" formControlName="serviceId"
              required>
              <option *ngFor="let service of services" value="{{service.id}}">{{service.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="filialId">Вибрати філіал:</label>
            <select class="form-control" id="filialId" aria-describedby="filialId"
              formControlName="filialId" required>
              <option *ngFor="let filial of filials" value="{{filial.id}}">{{filial.name + ', ' + filial.location}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="receiveDate">Дата отримання</label>
            <input type="date" class="form-control" id="receiveDate" aria-describedby="receiveDate"
              formControlName="receiveDate" required>
            <div *ngIf="myForm.get('receiveDate')!.hasError('required') && myForm.get('receiveDate')?.touched">
              Необхідно вказати дату отримання.
            </div>
            <div *ngIf="myForm.get('receiveDate')!.hasError('invalidDate')">
              Дата отримання має бути у форматі РРРР-ММ-ДД.
            </div>
          </div>
          <div class="form-group">
            <label for="returnDate">Дата видачи</label>
            <input type="date" class="form-control" id="returnDate" aria-describedby="returnDate"
              formControlName="returnDate" required>
            <div *ngIf="myForm.get('returnDate')!.hasError('required') && myForm.get('returnDate')?.touched">
              Необхідно вказати дату видачи.
            </div>
            <div *ngIf="myForm.get('returnDate')!.hasError('invalidDate')">
              Дата видачи має бути у форматі РРРР-ММ-ДД.
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4" [disabled]="myForm.invalid">Створити</button>
        </form>
      </div>
    </div>
  </div>
</div>
